#header {
  text-align: justify;
}

#header .title {
  line-height: 1;
}

#header .subsubtitle {
  line-height: 0.8;
  padding-bottom: 0.5em;
}

#header .pink-box {
  margin-bottom: 2vh;
  margin-top: 4vh;
}

/* p {
  margin-top: 0.5em;
  margin-bottom: 1em;
} */
