#upload-drop-area {
  position: relative;
}

#upload-drop-area:hover {
  border-color: #779BE7;
  cursor: pointer;
}

#upload-drop-area .button {
  cursor: pointer;
  background: #eee;
  border: none;
  display: inline-block;
}

#upload-drop-area:hover .button {
  background: #779BE7;
  color: white;
}

#upload-input-file {
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  z-index: 10;
}

#upload-drop-area.highlight {
  border-color: purple;
}

#webcam {
  position: relative;
}

#webcam-stream {
  background-color: black;
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  width: 100%;
}

#webcam-stream-canvas {
  display: none;
}

#webcam-stream-icon {
  border-radius: 5%;
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  height: 25%;
  transition: width 0.5s, height 0.5s;
  filter: drop-shadow(0 0 0.75rem black);
}

#webcam-stream-icon:hover {
  width: 50%;
  height: 50%;
}

#webcam-stream-icon svg {
  color: white;
  width: 100%;
  height: 100%;
}

#webcam-stream-captions {
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 18%;
}

.text-wrapper {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#webcam-stream-captions .caption {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: rtl;
  text-align: left;
}

/* DESKTOP */
@media screen and (min-width: 960px) {
  #upload-drop-area {
    border: 5px dashed #ccc;
    padding: 100px 50px;
    margin: 25px auto;
  }

  #upload-drop-area .button {
    border-radius: 2px;
    margin-right: 8px;
    padding: 8px 16px;
  }

  #webcam {
    margin: 25px auto;
  }
}

/* MOBILE */
@media screen and (max-width: 960px) {
  #upload-drop-area {
    border: 0.5vw dashed #ccc;
    padding: 8vw 4vw;
    margin: 1.5vw 1vw;
  }

  #upload-drop-area .button {
    border-radius: 0.2em;
    margin-right: 1em;
    padding: 0.4em 0.8em;
  }

  #webcam {
    margin: 1.5vh auto;
  }

  .webcam-video-container {
    width: 100%;
    padding-top: 177.78%;
    height: 0px;
    position: relative;
  }
  
  #webcam-stream {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}
