@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p {
  padding: 0 1em;
}

.caption,
label,
span,
h1,
h2,
h3,
h4 {
  text-align: center;
}

.caption,
p,
label,
span,
h1,
h2,
h3,
h4 {
  font-family: "Poppins", "Montserrat", sans-serif;
}

h1 {
  font-weight: 900;
  line-height: 1;
}

h2 {
  font-weight: 700;
  line-height: 1;
}

h3,
.caption {
  font-weight: 400;
  line-height: 1;
}

.pink-box {
  background: linear-gradient(90deg, #ffc0cb 57%, #0000 57%);
}

.blue-box {
  background: linear-gradient(90deg, #0000 32%, #c9cbff 32%);
}

section {
  margin: 0 auto;
  max-width: 960px;
}

body {
  background-image: url("https://www.transparenttextures.com/patterns/natural-paper.png");
}

/* DESKTOP */
@media screen and (min-width: 960px) {
  h1 {
    font-size: 120px;
  }
  h2 {
    font-size: 60px;
  }
  h3,
  .caption {
    font-size: 40px;
  }
  p,
  label,
  span {
    font-size: 20px;
  }

  .box {
    border-radius: 0.3vh;
    padding: 0.3vh;
  }

  /* .scroll-container {
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
  }

  section {
    height: 100vh;
    scroll-snap-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  } */

  section {
    margin-bottom: 200px;
  }
}

/* MOBILE */
@media screen and (max-width: 960px) {
  h1 {
    font-size: 14vw;
  }
  h2 {
    font-size: 8vw;
  }
  h3,
  .caption {
    font-size: 5vw;
  }
  p,
  label,
  span {
    font-size: 3.25vw;
  }

  .box {
    padding: 0.3vh;
  }

  section {
    margin-bottom: 5vh;
  }
}
