.team-member {
  display: flex;
}

.team-photo {
  flex: 1;
  position: relative;
}

.team-photo img {
  border-radius: 0.5rem;
  display: block;
  margin: auto;
}

.team-description {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 2;
}

.team-description * {
  display: inline-flex;
  color: #fff;
  justify-content: center;
  text-align: center;
  background: #3794fe;
  padding: 10px 0;
  margin: 6px 0;
}

.team-description *:first-child {
  width: 100%;
}

.team-description *:not(:first-child) {
  flex: 1;
}

.team-member span {
  align-items: center;
}

.team-member span.designer {
  background-color: #6200ee;
}

.team-member span.frontend {
  background-color: #8eaf20;
}

.team-member span.backend {
  background-color: #e39801;
}

.team-member span.team-lead {
  background-color: #6f6f6f;
}

.team-member span.ml-engineer {
  background-color: #ff5436;
}

@media screen and (min-width: 960px) {
  .team-member:nth-child(odd) {
    flex-direction: row-reverse;
  }

  .team-photo img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
  }
}

@media screen and (max-width: 960px) {
  .team-member {
    flex-direction: column;
  }

  .team-photo img {
    max-width: 80%;
    max-height: 80%;
  }
}
